* {
    padding: 0px;
    margin: 0px;
}

/* colours:
37363D background
556B6F txt
7BBAC4 box
BFDBE9 extra
F4F7F2 txt2
*/
@keyframes load {
    from {
        margin-right: 2000px;
        margin-left: -2000px;
    }
    to {
        margin-right: 0px;
        margin-left: 0px;
    }
}


/* main */
body {
    background-color: #37363D;
    background-image: url("images/background4v2.jpeg");
    background-repeat: no-repeat;
    background-position:top;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body::-webkit-scrollbar {
    display: none;
}
.header {
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 5px 5px rgb(123, 186, 196, 0.2);
    height: 100px;
    background-color: rgb(123, 186, 196, 0.2);
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    font-size: 64px;
    width: 40%;
    text-align: center;
    color: #F4F7F2;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20vw;
    width: 400px;
    height: 100px;
}
.menu a {
    font-size: 20px;
    color: #F4F7F2;
    transition: color 0.3s, rotate 0.3s;
    text-decoration: none;
    font-weight: 600;
}
.menu a:hover {
    color: #556B6F;
    rotate: 3deg;
    padding: 20px;
    margin: -20px;
}
.menu a::after {
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    transition: width 0.3s ease-out;
    background-color: #556B6F;
}
.menu a:hover::after {
    width: 100%;
}
#selected {
    color: #556B6F;
}
#selected:hover {
    rotate: 0deg;
    transition: rotate 0s color 0.3s;
    margin-bottom: -20px;
}
.container {
    display: flex;
    justify-content: center;
    transition: margin-left 0.75s, margin-right 0.75s;
    animation-name: load;
    animation-duration: 0.75s;
    flex-direction: column;
    align-items: center;
}

/* home */
.about {
    width: 50vw;
    font-size: 32px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 150px;
    font-family: 'VT323';
    color: rgb(137, 147, 150);
    font-weight: 600;
}
.about p {
    margin-left: 20px;
}
.info {
    height: 350px;
    padding-top: 100px;
    margin-top: 256px;
    border-top-right-radius: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(450px);
    scroll-snap-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info::-webkit-scrollbar {
    display: none;
}
.parallax {
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: #556B6F;
    border-top-right-radius: 100px;
    padding: 50px;
    padding-bottom: 100px;
    font-size: 32px;
    margin-top: -100px;
    min-height: 400px;
    scroll-snap-align: start;
    box-shadow: 2px -5px 7px rgb(0, 0, 0, 0.1);
    color: white;
}
.parallax img {
    margin-top: 50px;
    margin-bottom: -100px;
    height: 50px;
    width: 50px;
    align-self: center;
    z-index: 2;
}

/* my work */
.img-scroll {
    align-items: center;
    overflow-x: scroll;
    width: 90vw;
    padding: 2px;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    scroll-behavior: smooth;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 50px 50px rgb(0, 0, 0, 0.7);
    transition: margin-top 0.5s, margin-left 0.5s, width 0.5s;
}
.img-scroll::-webkit-scrollbar {
    display: none;
}
.img-scroll img {
    height: 600px;
    border-radius: 5px;
    margin: 1px;
    background-color: aquamarine;
    transition:  margin-top 0.5s, margin-left 0.5s, height 0.5s, width 0.5s;
}
.img-scroll img:hover {
    height: 610px;
}
.img-scroll img:hover::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    transition: width 0.3s ease-out;
    background-color: #556B6F;
}
.scroll {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    width: 100%;
    height: 100%;
    transition:  margin-top 0.5s, margin-left 0.5s, width 0.5s;
}
.scroll div {
    display: flex;
    flex-direction: row;
}
.scroll h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
}
.scroller {
    width: 50px;
    height: 50px;
    margin: 20px;
}
#left {
    rotate: 90deg;
}
#right {
    rotate: 270deg;
}

/* contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    margin-top: 200px; 
    border-radius: 25px;  
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
.contact-info {
    border-radius: 25px;
    font-size: 48px;
    margin: 5px;
    padding: 20px;
    text-align: center;
}
.contact-links {
    width: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 25px;
    font-size: 16px;
    align-self: center;
    margin-top: 50px;
    margin: 5px;
    padding: 40px;
}
.contact-links form input, .contact-links form textarea {
    border-radius: 5px;
    background-color: rgb(15, 18, 20, 0.8);
    border: 0px;
    padding: 5px;
    color: white;
}
.work-info {
    width: 70%;
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 75px;

}
.work-info div {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}


.cyan {
    background-image: linear-gradient(#86bcd1, #73afc7);
}
.blue {
    background-image: linear-gradient(#4B91AE, #4A83AC);
}
.darkblue {
    background-image: linear-gradient(rgb(63, 95, 129), #417192);
}