* {
    padding: 0px;
    margin: 0px;
}

/* colours:
37363D background
556B6F txt
7BBAC4 box
BFDBE9 extra
F4F7F2 txt2
*/


/* main */
body {
    background-color: #37363D;
    background-image: url("images/background4v2.jpeg");
    background-repeat: no-repeat;
    background-position:top;
    background-size:auto;
    background-attachment: fixed;
    height: 1850px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
}
.header {
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 5px 5px rgb(123, 186, 196, 0.2);
    height: 100px;
    background-color: rgb(123, 186, 196, 0.2);
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    font-size: 84px;
    width: 40%;
    text-align: center;
    color: #F4F7F2;
    font-family: 'VT323';
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20vw;
    width: 400px;
    height: 100px;
}
.menu a {
    font-size: 20px;
    color: #F4F7F2;
    transition: color 0.3s, rotate 0.3s;
    text-decoration: none;
    font-weight: 600;
}
.menu a:hover {
    color: #556B6F;
    rotate: 5deg;
    padding: 2px;
    margin: -2px;
}
.menu a::after {
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    transition: width 0.3s ease-out;
    background-color: #556B6F;
}
.menu a:hover::after {
    width: 100%;
}
#selected::after {
    width: 100%;
}
#selected:hover {
    rotate: 0deg;
    transition: rotate 0s color 0.3s;
}
/* home */
.about {
    width: 45vw;
    font-size: 56px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 150px;
    margin-left: 12vw;
    font-family: 'VT323';
    color: rgb(162, 168, 170);
    font-weight: 600;
}
.about p {
    margin-left: 20px;
}
.info {
    margin-top: 51vh;
    width: 100vw;
    height: 90vh;
    background-color: #556B6F;
    border-top-right-radius: 20px;
}

/* my work */
.img-scroll {
    align-items: center;
    overflow-x: scroll;
    width: 90vw;
    padding: 2px;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    scroll-behavior: smooth;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 50px 50px rgb(0, 0, 0, 0.7);
}
.img-scroll::-webkit-scrollbar {
    display: none;
}
.img-scroll img {
    height: 600px;
    border-radius: 5px;
    margin: 1px;
    background-color: aquamarine;
    transition: height 0.5s, width 0.5s;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.scroll {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 150px;
    width: 90vw;
    height: 100%;
    transition: margin-top 0.5s, margin-left 0.5s;
}
.scroll div {
    display: flex;
    flex-direction: row;
}
.scroll h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
    font-size: 56px;
}
.scroller {
    width: 75px;
    height: 75px;
    margin: 20px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#left {
    rotate: 90deg;
}
#right {
    rotate: 270deg;
}