/* main */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.pink {
    color: #ffb4d3 !important;
}
.yellow {
    color: #ffc24c !important;
}
.yellowb {
    background-color: rgb(219, 226, 104) !important;
}
.purple {
    color: #d387f7 !important;
}
.purpleb {
    background-color: rgb(226, 193, 249) !important;
}
.aqua {
    color: #77e6ff !important;
}
.aquab {
    background-color: rgb(119, 230, 255) !important;
}
.cyan {
    color: #23c9de !important;
}
.marine {
    color: #ff9e9e !important;
}
.gray {
    color: #707f8d !important;
}
.info-txt {
    color: white;
    font-size: 36px;
    line-height: 84px;
    margin-bottom: 10px;
    margin-top: 40px;
}
.back-txt {
    color: rgb(55, 66, 77);
    font-size: 36px;
    line-height: 66px;
    text-align: center;
    font-weight: 600;
}

.spacer {
    width: 100%;
    height: 110px;
}

body {
    background-color: #0a1117;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* topbar */
.topbar {
    display: flex;
    flex-direction: row;
    color: white;
    width: 66%;
    height: 106px;
    justify-content:space-between;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    height: 35px;
    width: 176px;
    margin-bottom: 20px;
}
.logo-margin {
    margin-right: 10px;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
}
.menu-item {
    margin: 17.3px;
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 15px;
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
}
.menu-item:hover {
    color: rgba(255, 255, 255, 0.6);
}
.login {
    background-color: #243241;
    color: white;
    font-size: 14px;
    border: 16px #243241 solid;
    border-top: 0px #243241 solid;
    border-bottom: 0px #243241 solid;
    border-radius: 9px;
    margin-right: 50px;
    font-weight: 400;
    height: 33px;
}
.login:hover {
    background-color: #1f2c39;
    border: 16px #1f2c39 solid;
    border-top: 0px #1f2c39 solid;
    border-bottom: 0px #1f2c39 solid;
}
.login-spacer {
    display: flex;
    justify-content: flex-end;
    height: 48px;
    width: 176px;
}

/* home */
.start {
    width: 60%;
    min-height: 100px;
    text-align: center;
    padding-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1[class="start-txt"] {
    color: white;
    font-size: 56px;
    line-height: 60px;
    font-weight: 600;
}
p[class="start-txt"] {
    color: white;
    margin: 43px;
    margin-top: 24px;
    font-size: 23px;
    line-height: 36px;
    font-weight: 400;
}
.started {
    font-weight: 600;
    background-color: #ceaaff;
    color: rgba(16, 16, 20, 1);
    font-size: 17px;
    border: 36px #ceaaff solid;
    border-top: 16px #ceaaff solid;
    border-bottom: 16px #ceaaff solid;
    border-radius: 10px;
    margin-bottom: 88px;
    box-shadow: 0px 9px 44px 0px rgba(255, 207, 1, 0.20);
}
.started:hover {
    background-color: #a47dda;
    border: 36px #a47dda solid;
    border-top: 16px #a47dda solid;
    border-bottom: 16px #a47dda solid;
}
.arrows {
    width: 19px;
    height: 19px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 760px;
}
.project-stars {
    margin-top: 40px;
    width: 67.5px;
    height: 66px;
}
.project-button {
    font-size: 15.5px;
    background-color: #182632;
    border: 20px #182632 solid;
    border-top: 12px #182632 solid;
    border-bottom: 12px #182632 solid;
    border-radius: 24px;
    margin: 5px;
    margin-bottom: 10px;;
}
.project-button:hover {
    background-color: #11212f;
    border: 20px #11212f solid;
    border-top: 12px #11212f solid;
    border-bottom: 12px #11212f solid;
}
.ready {
    margin-top: 20px;
    width: 880px;
}
.ready-txt {
    border-radius: 75px;
    border: 3px solid #0A1117;
    background: #FFB4D3;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: -19px;
    margin-bottom: -18.8px;
    font-size: 14px;
    font-weight: 700;
}
.project-glow {
    z-index: -1;
    width: 388px;
    height: 141px;
    margin-top: -260px;
    margin-bottom: 120px;
    flex-shrink: 0;
    border-radius: 388px;
    background-color: #5C9DFF;
    filter: blur(332px);
}

.design {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: center;
}
.design-star {
    width: 60px;
    height: 48px;
    margin-left: 64px;
    margin-top: 30px;
}
.design-glow {
    width: 636px;
    height: 41px;
    margin-top: -20px;
    margin-bottom: -21px;
    flex-shrink: 0;
    border-radius: 636px;
    background-color: #5C9DFF;
    filter: blur(332px);
}

.works {
    text-align: center;
    margin-bottom: 80px;
}
.works-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -10px;
    margin-top: 94px;
}
.works-star1 {
    width: 52px;
    margin-right: 160px;
    margin-top: 21px;
}
.works-star2 {
    width: 42px;
    margin-right: 130px;
    margin-top: 36px;
    margin-left: 40px;
}
.with {
    width: 123px;
    margin-left: 11.3px;
    margin-right: 11.3px;
    margin-bottom: 0px;
}
.with-txt {
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}
.with-txt-item {
    color: white;
    text-align: center;
    width: 100px;
    margin: 25px;
    margin-top: 0px;
    font-weight: 600;
}
.works-glow {
    z-index: -1;
    width: 226px;
    margin-bottom: -126px;
    margin-left: 386px;
    height: 107px;
    flex-shrink: 0;
    border-radius: 526px;
    background-color: #5C9DFF;
    filter: blur(397px);
}

.help {
    text-align: center;
}
.step {
    width: 123px;
    height: 123px;
    margin: 7px;
    border-radius: 32px;
}
.at {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 28px;
    width: 600px;
    margin-top: 20px;
    margin-left: 50px;
}
.right {
    justify-content: flex-end;
}
.center {
    justify-content: center;
}
.px-left {
    margin-left: 250px; 
}
.at-star {
    margin-left: 20px;
    margin-right: 20px;
}
.help-glow {
    z-index: -1;
    width: 526px;
    height: 209px;
    margin-bottom: -209px;
    margin-left: 175px;
    flex-shrink: 0;
    border-radius: 526px;
    background: rgba(92, 157, 255, 0.50);
    filter: blur(397px);    
}

.weekly {
    background-color: #121E28;
    color: rgb(61, 76, 91);
    width: 59%;
    height: 295px;
    border: 2px solid #2A3744;
    border-radius: 24px;
    text-align: center;
    margin-top: 165px;
}
.weekly-txt {
    margin-top: -5px;
    font-size: 27.5px;
    margin-bottom: 28px;
}
.weekly-margin {
    margin-top: 20px;
    margin-right: 48px;
}
.email {
    width: 365px;
    height: 54px;
    padding-left: 20px;
    margin-right: 12px;
    color: rgb(61, 76, 91);
    background-color: rgb(18, 30, 40);
    border: 1.6px solid #2A3744;
    border-radius: 12px;
    font-size: 15px;
}
.subscribe {
    font-weight: 600;
    background-color: #ceaaff;
    color: rgba(16, 16, 20, 1);
    font-size: 16px;
    border: 27px #ceaaff solid;
    border-top: 16px #ceaaff solid;
    border-bottom: 16px #ceaaff solid;
    border-radius: 12px;
    margin-top: 25px;
}
.subscribe:hover {
    background-color: #a47dda;
    border: 27px #a47dda solid;
    border-top: 16px #a47dda solid;
    border-bottom: 16px #a47dda solid;
}
.weekly-glow {
    z-index: -1;
    width: 206px;
    height: 75px;
    margin-bottom: -75px;
    margin-left: 250px;
    flex-shrink: 0;
    border-radius: 526px;
    opacity: 0.7;
    background-color: #5C9DFF;
    filter: blur(397px);
}

.press-align {
    display: flex;
    flex-direction: row;
    margin-top: 56px;
}
.press {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}
.press-star {
    width: 42px;
    margin-top: 14px;
    margin-left: 48px;
}
.press-item {
    width: 275px;
    height: 293px;
    border-radius: 15px;
    margin-right: 22px;
}
.press-margin {
    margin-right: 0px;
}
.press-logo {
    margin: 20px;
    margin-top: 23px;
    margin-bottom: 12px;
    width: 235px;
}
.press-h1 {
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    color: black;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 8px;
}
.press-p {
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(36, 62, 71);
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.press-glow {
    z-index: -1;
    width: 526px;
    height: 79px;
    margin-top: -79px;
    margin-left: 175px;
    flex-shrink: 0;
    border-radius: 526px;
    opacity: 0.7;
    background-color: #5C9DFF;
    filter: blur(397px);
}

.podcast-align {
    display: flex;
    flex-direction: row;
    margin-left: -72px;
    margin-top: 110px;
    margin-bottom: -15px;
}
.podcast-star {
    margin-top: 11px;
    width: 46px;
    margin-right: 25px;
}
.podcasts {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.podcast-logo {
    margin: 20px;
    width: 40px;
}
.podcast-margin {
    margin-right: 0px !important;
}
.podcast-item {
    width: 272px;
    height: 255px;
    border-radius: 15px;
    margin-right: 22px;
    border: 2px solid rgb(42, 55, 68);
    background-color: rgb(18, 30, 40);

}
.podcast-h1 {
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    color: white;
    margin: 20px;
    margin-top: -8px;
    margin-bottom: 8px;
}
.podcast-p {
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(184, 186, 188);
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.podcast-stars {
    width: 88%;
    margin: 50.5px;
    margin-top: 45px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.podcast-spacer {
    height: 290px;
}
.podcast-glow {
    z-index: -1;
    width: 526px;
    height: 79px;
    margin-top: -79px;
    margin-left: 175px;
    flex-shrink: 0;
    border-radius: 526px;
    opacity: 0.7;
    background-color: #5C9DFF;
    filter: blur(397px);
}

.idea {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.idea-flex {
    margin-top: 48px;
    margin-bottom: 155px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.idea-txt {
    color: rgb(90, 108, 126);
    font-size: 31px;
    font-weight: 600;
}
.idea-social-item {
    height: 40px;
    margin: 10px;
}
.idea-h1 {
    color: black;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    text-align: left;
    font-size: 16px;
    width: 100%;
    margin-bottom: 3px;
    margin-left: -5px;
}
.idea-p {
    font-size: 12px;
    font-weight: 300;
    width: 100%;
    margin-top: 1px;
    margin-left: -5px;
}
.idea-item {
    display: flex;
    align-items: center;
    width: 214px;
    height: 65px;
}
.shadow1 {
    border-radius: 12px;
    background-color: #FFC803;
    box-shadow: 0px 8px 40px 0px rgba(255, 200, 3, 0.20);
    margin-right: 25px;
}
.shadow1:hover {
    background-color: #c39900;
}
.shadow2 {
    border-radius: 16px;
    background-color: var(--purple-light, #E2C1F9);
    box-shadow: 0px 8px 40px 0px rgba(226, 193, 249, 0.20);
}
.idea-glow {
    z-index: -1;
    width: 526px;
    height: 135px;
    margin-bottom: -135px;
    flex-shrink: 0;
    border-radius: 526px;
    opacity: 0.7;
    background-color: #5C9DFF;
    filter: blur(397px);
}

/* learn */
.project-spacer {
    height: 40px;;
}

/* about */
.heroes {
    margin-top: 25px;
    text-align: center;
}
.our {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-bottom: 23px;
}
.our-item {
    width: 269px;
    height: 255px;
    margin: 21px;
    margin-top: 68px;
    background-color: rgb(255, 180, 211);
    border-radius: 15px;
}
.our-margin {
    margin-right: 15px;
}
.hero {
    width: 125px;
    border-radius: 32px;
    margin-top: 8px;
    margin-left: -15px;
}
.hero-h1 {
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    color: black;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
.hero-p {
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    color: black;
    text-align: left;
    margin-left: 20px;
}
.hero-flex {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 15px;
    margin-top: 12px;
}

/* contact */
.idea-margin {
    margin-top: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121E28;
    color: rgb(61, 76, 91);
    width: 48.6%;
    border: 2px solid #2A3744;
    border-radius: 24px;
    text-align: center;
    margin-top: -60px;
    margin-right: 2px;
    margin-bottom: 280px;
    padding-bottom: 20px;
}
.post-margin {
    margin-top: 20px;
    margin-right: 40px;
}
.post-email {
    width: 365px;
    height: 54px;
    padding-left: 20px;
    color: rgb(61, 76, 91);
    background-color: rgb(18, 30, 40);
    border: 1.5px solid #2A3744;
    border-radius: 12px;
    font-size: 15px;
    margin-bottom: 20px;
}
.post-name {
    width: 365px;
    height: 54px;
    padding-left: 20px;
    color: rgb(61, 76, 91);
    background-color: rgb(18, 30, 40);
    border: 1.5px solid #2A3744;
    border-radius: 12px;
    font-size: 15px;
    margin-bottom: 20px;
}
.post-message {
    width: 365px;
    height: 54px;
    padding-left: 20px;
    color: rgb(61, 76, 91);
    background-color: rgb(18, 30, 40);
    border: 1.5px solid #2A3744;
    border-radius: 12px;
    font-size: 15px;
    margin-bottom: 20px;
}
.post-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 345px;
    height: 54px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(61, 76, 91);
    background-color: rgb(18, 30, 40);
    border: 1.5px solid #2A3744;
    border-radius: 12px;
    font-size: 15px;
}
.drop-item {
    text-align: left;
    margin: 18px;
    margin-bottom: 0px;
    margin-left: 15px;
    width: 335px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    color: rgb(61, 76, 91);
    font-size: 15px;
}
.post-drop {
    display: none;
    overflow: auto;
    z-index: 1;
    width: 385px;
    height: 154px;
    margin-top: -0.5px;
    background-color: rgb(18, 30, 40);
    border: 1.5px solid #2A3744;
    border-radius: 12px;
    font-size: 15px;
}
.show {
    display: block;
}
.send-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 40px;
}
.send {
    font-weight: 600;
    width: 135px;
    background-color: #ceaaff;
    color: rgba(16, 16, 20, 1);
    font-size: 16px;
    border: 27px #ceaaff solid;
    border-top: 16px #ceaaff solid;
    border-bottom: 16px #ceaaff solid;
    border-radius: 12px;
    margin-top: 25px;
}
.send:hover {
    background-color: #a47dda;
    border: 27px #a47dda solid;
    border-top: 16px #a47dda solid;
    border-bottom: 16px #a47dda solid;
}


/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125px;
    background-color: rgb(18, 30, 40);
}
.foot-spacer {
    width: 215px;
    margin-right: 72px;
}
.foot-item {
    display: flex;
    flex-direction: row;
    width: 270px;
}
.foot-txt {
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    margin: 21.5px;
}
.foot-link:hover {
    color: rgba(255, 255, 255, 0.6);
}
.foot-socials {
    width: 215px;
    margin-left: 95px;
}